.body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

#form-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 30%;
    height: 60%;
    background-color: lightgray;
}

#form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-question-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input{
    border: 2px solid grey;
}

input:blank{
    border: 2px solid grey;
}

input:invalid {
    border: 2px solid red;
}

input:valid {
    border: 2px solid green;
}

input:focus{
    outline: none;
}